<?xml version="1.0" encoding="utf-8"?>
<robot name="gr_box" xmlns:xacro="http://www.ros.org/wiki/xacro">
 
  <xacro:macro name="gr_box" params="prefix parent *origin">

    <link name="${prefix}bottom_box_link">
      <visual>
        <origin
          xyz="0 0.0 0.0"
          rpy="1.5708 0 -1.5708" />
        <geometry>
          <mesh filename="file://$(find gr_description)/meshes/accessories/gr_ros_kit_v3.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <material
          name="">
          <color rgba="0.5 0.5 0.5  1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0.0 0.0 0.0"
          rpy="1.5708 0 -1.5708" />
        <geometry>
          <mesh filename="file://$(find gr_description)/meshes/accessories/gr_ros_kit_v3.stl" scale="0.001 0.001 0.001" />
        </geometry>
      </collision>
    </link>
    <joint name="${prefix}bottom_box_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${prefix}bottom_box_link" />
    </joint>

    <link name="${prefix}top_box_lidar_support_link" />
    <joint name="${prefix}top_box_lidar_support_joint" type="fixed">
      <origin xyz="0.05 0.0 0.075" rpy="0 0 0" />
      <parent link="${prefix}top_box_link" />
      <child link="${prefix}top_box_lidar_support_link" />
    </joint>

    <link name="${prefix}top_box_link">
    </link>
    <joint name="${prefix}top_box_joint" type="fixed">
      <origin xyz="-0.093 0 0.188" rpy="0 0 0" />
      <parent link="bottom_box_link"/>
      <child link="${prefix}top_box_link" />
    </joint>
    
    <link name="${prefix}camera_box_link"/>
    <joint name="${prefix}camera_box_link_joint" type="fixed">
      <origin xyz="0.247 0 0.056" rpy="0 0 0" />
      <parent link="bottom_box_link"/>
      <child link="${prefix}camera_box_link" />
    </joint>
  </xacro:macro>
</robot>
