[Unit]
Description=ROS service
After=network-online.target
 
[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/sbin/start_ros
ExecStop=/usr/sbin/stop_ros

#Restart=on-failure
 
# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=60
 
[Install]
WantedBy=multi-user.target